<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
<script>
    $(function(){
        width = $("#content").attr("role","main").width();
        $("#photo-line").each(function(){
                console.log($this.attr("width", width/4));
        })
    })
</script>
</head>
<body>
    <div data-role="header">
        <h1>My Album</h1>
    </div>
    <div id="content" role="main" class="ui-content">
        {{ $thisyear := .currentyear }}
        {{range $index, $elem := .thumb }}
            <a title="{{.Path}}" href="single?md5={{$elem.Md5}}">
                <img id="photo-line" src="data:image/jpeg;base64,{{$elem.Thumbnail}}"  />
            </a>
        {{end}}

    </div>

</body>
</html>
