<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/css/index.css?v=1.1">
    <title>My Album</title>
</head>
<body>
<div id="container">
    <div id="header">My Album</div>
    <div id="innercontent">
        <div class="photolist">
        {{range $index, $elem := .thumb }}
            <a href="photo/{{$elem.PathBase64}}"><img src="data:image/jpeg;base64,{{$elem.Thumbnail}}"/></a>
        {{end}}
        </div>
        
        <div class="centerparent">
           <div class="pagination">
            {{ $thisyear := .currentyear }}
            {{if $thisyear }} <!-- http://192.168.0.199:8080/?page=63 -->
                <a href="/year?year={{$thisyear}}&page=1">First Page</a>
                {{range $index, $pageNumber := .pagers.Before}}
                    <a href="/year?year={{$thisyear}}&page={{$pageNumber}}">{{$pageNumber}}</a>
                {{end}}
                <span style="color:red">{{ .pagers.Current }}</span>
                {{range $index, $pageNumber := .pagers.After}}
                    <a href="/year?year={{$thisyear}}&page={{$pageNumber}}">{{$pageNumber}}</a>
                {{end}}
                <a href="/year?year={{$thisyear}}&page={{.totalpages}}">Last Page</a>
            {{else}} <!--http://192.168.0.199:8080/year?year=2018&page=1 -->
                <a href="?page=1">First Page</a>
                {{range $index, $pageNumber := .pagers.Before}}
                    <a href="?page={{$pageNumber}}">{{$pageNumber}}</a>
                {{end}}
                 <span style="color:red">{{ .pagers.Current }}</span>
                {{range $index, $pageNumber := .pagers.After}}
                    <a href="?page={{$pageNumber}}">{{$pageNumber}}</a>
                {{end}}
                <a href="?page={{.totalpages}}">Last Page</a>
            {{end}}
        </div>
     </div>
</div>
<div id="navbar">
        <h3>Photo List</h3>
        <ul>
            {{range $index, $elem := .years }}
            <li><a href="/year?year={{$elem.Year}}&page=1">{{$elem.Year}} - ({{$elem.Number}})</a></li>
            {{end}}
        </ul>
    </div>
<div id="footer">
        <hr />
        <div class="topmargin">
        Copyright (C) 2020. All rights reserved.
        </div>
</div>
</body>
</html>
