<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/css/index.css?v=1.1">
    <title>MyAlbum</title>
</head>
<body>
    <div id="container">
     <img class="imgfullscreen" src="data:image/jpeg;base64,{{.thumb}}" id="responsive-image"/>
    </div>
    <div id="navbar">
        {{.}}
    </div>
</body>
</html>
