{{ define "./index.html" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/photo/index.css">
    <title>MyAlbum</title>
</head>
<body>
<div>
    {{range .piclist}}
        <a href="{{.Path}}">
        <img src="data:image/jpeg;base64,{{.Thumbnail}}" />
        </a>
    {{end}}
</div>
</body>
</html>
{{end}}
