#innercontent {
  float: right;
  width: 92%;
}

#navbar {
  float:left;
  width:8%
} 

#footer{
    clear:both;
    text-align:center;
}

#header{
    text-align:center;
}


.centerparent{
  display: flex;
  justify-content: center;
  align-items: center;
}
.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: center;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination a.active {
  background-color: #4CAF50;
  color: white;
  border-radius: 5px;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
  border-radius: 5px;
}

.topmargin {
  margin-top: 10px;
}

.imgfullscreen{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  overflow: auto;
}

.hoverinfo{
    position:absolute;
    top:15px;
    left:15px;
    font-size: 28px;
    color:#ffffff
    cursor:pointer;
}

.hoverinfo p{
    display: none;
    color:#000000;
}

.hoverinfo:hover p {
    .background-color:rgba(255,255,255,0.7)
    display:block;
}
