<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/static/css/index.css?v=1.1">
    <link rel="stylesheet" type="text/css" href="/static/css/full-screen-helper.css">
    <script src="/static/css/jquery-3.4.1.slim.min.js"></script> 
    <title>MyAlbum</title>
    <script src="/static/templates/singlePhoto.js"></script>
</head>
<body>
    <!-- <button onclick="FullScreenHelper.request(document);"> -->
<img src="http://soulsnatcher.bplaced.net/LDRYh.jpg" alt="unfinished bingo card" onclick="FullScreenHelper.request(document);" />
    <button onclick="FullScreenHelper.request(document);"> 
        Fullscreen page
    </button>
    <button onclick="FullScreenHelper.exit();">
        Exit fullscreen page
    </button>

    <script type="text/javascript" src="/static/templates/full-screen-helper.js"></script>
    <script type="text/javascript">
    if (typeof FullScreenHelper === "undefined") {
        document.write("<p>FullScreenHelper is not loaded</p>");
    } else if (FullScreenHelper.supported()) {
        document.write("<p>Fullscreen is supported</p>");
    } else {
        document.write("<p>Your browser don't support fullscreen</p>");
    }

    FullScreenHelper.on(function () {
        if (FullScreenHelper.state()) {
          console.log("In fullscreen", FullScreenHelper.current());
        } else {
          console.log("Not in fullscreen");
        }
    });
    </script>

    </script>
    <div id="container">
        <img class="imgfullscreen" src="data:image/jpeg;base64,{{.thumb}}" id="responsive-image"/>
        <div id="overlay">
            <p>FilePath: {{.photo.Path}} &nbsp;&nbsp;
            {{if .photo.CreateDate}}Date: {{.photo.CreateDate}}{{end}} &nbsp;&nbsp;
            {{if .photo.FullImageSize}}Size: {{.photo.FullImageSize}}{{end}}</p>
            <p>{{if .photo.Make}}Vendor: {{.photo.Make}}&nbsp;&nbsp;{{end}}
            {{if .photo.Model}}Type: {{.photo.Model}}&nbsp;&nbsp;{{end}}
            {{if .photo.ShutterSpeed}}Speed: {{.photo.ShutterSpeed}}&nbsp;&nbsp;{{end}}
            {{if .photo.ISO}}ISO: {{.photo.ISO}}&nbsp;&nbsp;{{end}}
            {{if .photo.Aperture}}Aperture: {{.photo.Aperture}}&nbsp;&nbsp;{{end}}
            {{if .photo.ExposureCompensation}}ExposureCompensation: {{.photo.ExposureCompensation}}&nbsp;&nbsp;{{end}}
            {{if .photo.FocalLength}}Focus: {{.photo.FocalLength}}&nbsp;&nbsp;{{end}}
            {{if .photo.LensID}}Lens: {{.photo.LensID}}&nbsp;&nbsp;{{end}}
            {{if .photo.Longitude}}GPS: {{.photo.Longitude}} &nbsp;{{.photo.Latitude}}{{end}}</p></p>
            <p>{{if .gps}}Address: {{.gps}}{{end}}</p>
        </div>
    </div>
    <div id="index" src="{{.index}}"></div>
</body>
</html>
