<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--
    <link rel="stylesheet" href="/static/css/index.css?v=1.1">
    -->
    <script src="/static/css/jquery-3.4.1.min.js"></script> 
    <style>
        body {
            margin: 0;
            padding: 0;
        }
        
        .slide {
            position: absolute;
            top: 0;
            margin:auto;
            display: block;
        }
        
        .myimg {
            height: inherit;
        }
    </style>
    <title>MyAlbum</title>
    <script src= "/static/templates/slide.js"></script>
</head>
<body>
    <div class="slide">
        <img id="curr" src="" alt="initial id curr">
    </div>
</body>
</html>
