<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/css/slideany.css?v=1.1">
    <script src="/static/css/jquery-3.4.1.min.js"></script> 
    <title>MyAlbum</title>
    <script src= "/static/templates/slideany.js"></script>
</head>
<body>
    <div class="slide">
        <img class="imgfullscreen" id="curr" src="" alt="Just Moment">
    </div>
</body>
</html>
